


@media screen and (max-width: 767px) {
 #nav-sp {
  background-color: #ce933e;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 100;
 }

 #nav-sp ul {
  padding-left: 0;
 }

 #nav-sp li {
  list-style: none;
 }
}

#close {
  position: absolute;
  top: 20px;
  right: 20px;
}

#logo-sp {
  
}